
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Anime Edit</title>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">データ更新フォーム</div>
            <div class="panel-body">
    
    <form action="/update/<%= user[0].id %>" method="POST">
        <div class="form-group">
        タイトル <input class="form-control" type="text" name="name" value="<%= user[0].name %>"><br>
        話数 <input class="form-control" type="text" name="story" value="<%= user[0].story %>"><br>
        公式サイトURL <input class="form-control" type="text" name="url" value="<%= user[0].url %>"><br>
        ジャンル <input class="form-control" type="text" name="Genre" value="<%= user[0].Genre %>"><br>
    </div>
    <div class="radio">
        評価<br>
        <label><input type="radio" name="rank" value="1">1</label>
        <label><input type="radio" name="rank" value="2">2</label>
        <label><input type="radio" name="rank" value="3">3</label>
        <label><input type="radio" name="rank" value="4">4</label>
        <label><input type="radio" name="rank" value="5">5</label>
   <!--<input  class="form-control" type="text" name="rank"><br>-->
    </div>

        
        <button type="submit" class="btn btn-primary"onclick='return confirm("更新してもよろしいですか？");' >更新</button>
        </div>
    </form>    
        </div>
    </div>
</body>
</html>